

#calculator {
  color: #fff;
  background-color: #1e749c;
  font-size: 20px;
  border-radius: 1rem;
}

.cardcrd {
  color: #000;
  background-color: #ffffff;
  padding: 3rem;

}

form {
  width: 340px;
  text-align: center;
  display: inline-block;
}

